.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
   padding-top: 100px;
   margin-left: 20px;

 
  margin-bottom: 1.5rem;


  .filter-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 0.3rem;
      color: #444;
    }

    select {
      padding: 0.4rem 0.6rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      font-size: 0.9rem;
      transition: border-color 0.2s;
      color: #444;
      width: 120px;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }
}
